amqp==5.3.1
asgiref==3.11.1
async-timeout==5.0.1
billiard==4.2.4
celery==5.4.0
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==5.1.5
flower==2.0.1
humanize==4.15.0
kombu==5.6.2
packaging==26.2
prometheus_client==0.25.0
prompt_toolkit==3.0.52
psycopg[binary]==3.1.19
python-dateutil==2.9.0.post0
pytz==2026.2
redis==5.0.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.5
tornado==6.5.7
typing_extensions==4.15.0
tzdata==2026.2
vine==5.1.0
watchfiles
wcwidth==0.8.1
